@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap');

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    /* width: 100%; */
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
:root {
    --white-color: #FFFFFF;
    --blue-color: #00A4E5;
    --gray-color-dark: #48555B;
    --gray-color: #979797;
    --gray-color-white: #D8D8D8;
}
.header {
    padding: 41px 0 71px;
    min-height: 769px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__logo {
    width: 102px;
    height: 23px;
    margin: 0 auto 317px;
}
.header__title {
    font-family: 'Bebas Neue';
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 5.7px;
    text-transform: uppercase;
    color: var(--white-color);
}
.header__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 221px;
}
h4 {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    color: var(--white-color);
}
.nav {
    border: 1px solid #E6E6E6;
}
.nav__menu {
    padding: 25px 0;
    display: flex;
    align-items: center;
}
.nav__logo {
    width: 80px;
    margin-right: 451px;
}
.nav__list {
}
.nav__items {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #48555B;
    margin-right: 38px;
    cursor: pointer;
}
.nav__link:hover {
    color: var(--blue-color);
}
.nav__item:last-child {
    margin-right: 0;
}
.text-h2 {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    color: #48555B;
}
.story__title {
    text-align: center;
    padding: 57px 0;

    
}
.story__title:after {
    content: "";
    display: block;
    margin: 10px auto 0;
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
}
.story__inner {
    display: flex;
    margin-bottom: 118px;
}
.story__left {
    width: 405px;
    margin-right: 77px;
    
}
.story__title-1 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: var(--gray-color-dark);
    margin-bottom: 30px;
}
.blue-color {
    color: var(--blue-color);
}
.text-h3 {
}
.story__text-p {
}
.text-p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.2px
}
.story__right {
    display: flex;
    align-items: flex-end;
}
.story__item {
    padding: 15px;
    width: 140px;
    height: 224px;
    margin-right: 20px;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.19px;
    color: var(--white-color);
    text-transform: uppercase;
}
.story__item:last-child {
    margin-right: 0;
}
.plan {
    background-image: url(../img/plan.jpg);
}
.story__item-text {

}
.manage {
    background-image: url(../img/manage.jpg);
}
.build {
    background-image: url(../img/build.jpg);
}